.inActiveNav{
    background-color: #00a2ff;
    color: gray;
}
.ActiveNav{
    background-color: #00a2ff;
    color: white;
}
.page-blue{
    background-color:#3ba9e9
}

.fab-button{
    height:60;
    width:60;
    margin:15;
    background-color:#16a1f1;
    horizontal-align:right;
    vertical-align:bottom;
    padding-bottom: 10cm;
}