.label-big{
    font-size: 20px;
    font-family: "Lato";
}
.blue-btn{
    background-color:#00a2ff;
    color:aliceblue;
    height:60;
    width:200;
    font-family:"Lato";
}
.w-outline-btn{
    background-color: aliceblue;
    color:#00a2ff;
    outline-color:#00a2ff;
    height:60;
    width:200;
    font-family:"Lato";
}
/*#3ba9e9*/
.page-white{
    background-color:aliceblue;
}
.page-blue{
    background-color: #3ba9e9;
}
.input-blue{
    color:#00a2ff;
    border-width:0 0 1 0;
    border-bottom-color:#00a2ff;
    font-family:"Lato";
}
.input-white{
    color:aliceblue;
    border-width:0 0 1 0;
    border-bottom-color:aliceblue;
    font-family:"Lato";
}
.requiredFields{
    color:aliceblue;
    border-width:0 0 1 0;
    border-bottom-color:red;
    font-family:"Lato";
}
.label-blue{
    color: #00a2ff;
    font-family:"Lato";
}
.label{
    color:aliceblue;
    font-family:"Lato";
}
.inputForm{
    width:250;
}
.pageLabel{
    font-size: 20px;
    padding-bottom: 20;
}

