.pageLabel{
    font-size:20px;
    padding-bottom:20;
    color:antiquewhite;
    font-family:"Lato";
}
.blue-btn{
    background-color:#00a2ff;
    color:antiquewhite;
    height:60;
    width:200;
    font-family:"Lato";
}
.page{
    background-color:#3ba9e9;
}
.datePicker{
    color: antiquewhite;
}
.inputForm{
    width:250;
}
