.label-blue{
    color: #00a2ff;
    font-family:"Lato";
}
.label{
    color: black;
    font-size: 15px;
    font-family:"Lato";
    padding-bottom: 8px;
}
.label-white{
    color: white;
    font-family: "Lato";
}

.pageLabel{
    font-size: 20px;
    padding-bottom: 20;
}
.page-blue{
    background-color: #3ba9e9;
}
.w-outline-btn{
    background-color: white;
    color:#00a2ff;
    outline-color:#00a2ff;
    height:60;
    width:200;
    font-family:"Lato";
}
.blue-btn{
    background-color:#00a2ff;
    color:white;
    height:60;
    width:200;
    font-family:"Lato";
}
.rejectionMessage{ color: black; font-size:25px;padding-left:5px;border-width:0 0 1 0;border-bottom-color:#00a2ff}